.block-webform {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  z-index: 501;
  display:none
}
#popup_window_dark {
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  top: 0;
  z-index: -110;
}
.block-webform > .content {
  margin: 5% auto;
  background-color: white;
  position: absolute;
  box-shadow: 0 0 40px #1c1c1c;
  width: 855px;
  overflow: hidden;
}
.block-webform .webform-component {
  margin: 0;
}
.block-webform .content img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 36%;
  z-index: 1;
}
.block-webform h2 {
  color: #2d4983;
  margin-bottom: 28px;
  line-height: 1.2;
  width: 55%;
  margin-left: 30px;
  padding-top: 20px;
}
.block-webform > h2 {
  display: none;
}
.block-webform .field-name-body .popup_text {
  line-height: 1.5;
  margin-bottom: 28px;
  display: block;
  margin-left: 30px;
  color: #000;
  width: 61%;
}
.block-webform input.form-text {
  margin-bottom: 28px;
  width: 55%;
  height: 36px;
  font-size: 19px;
  text-indent: 10px;
  border: 1px solid #aeadae;
  margin-left: 30px;
}
.block-webform textarea#edit-submitted-message {
  margin-bottom: 28px;
  margin-left: 30px;
  width: 56%;
  height: 129px;
  font-size: 19px;
  text-indent: 7px;
  border: 1px solid #aeadae;
  padding-top: 10px;
  resize: none;
  overflow: auto;
}
.block-webform .webform-client-form label {
  display: none;
}
.block-webform .form-submit, .block-webform #custom-submit {
  margin-left: 30px;
  border: 1px solid;
  min-width: 205px;
  color: white;
  background-color: #ff8431;
  border-radius: 10px;
  padding: 13px 17px;
  font-size: 20px;
  text-shadow: 0px 1px 1px #828282;
  text-align: center;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  margin-bottom: 9px;
  white-space: nowrap;
  width: auto;
  display: inline-block;
}
.block-webform .form-submit:hover, .block-webform div.content div.node.node-webform div.content a#custom-submit:hover {
  text-decoration: none;
}
.popup_window-close {
  z-index: 10;
  position: absolute;
  width: 35px;
  height: 35px;
  right: 0;
  top: 5px;
}
.popup_window-close:after {
  content: "×";
  font-size: 50px;
  font-weight: 100;
  color: #939393;
  font-family: inherit;
  cursor: pointer;
  top: -15px;
  right: 10px;
  position: absolute;
}
.popup_mini > img {
  margin: 12px 30% 0;
}
.popup_mini > span {
  color: white;
  text-align: center;
  display: block;
  font-size: 17px;
  margin-top: 5px;
  text-shadow: 0 1px 1px #0a4ea7;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  cursor: inherit;
}
.popup_window-1-mini {
  margin-left: -113px;
  position: fixed;
  top: 425px;
  left: 0;
  width: 110px;
  height: 110px;
  background-color: #4d73b0;
  box-shadow: 2px 2px 10px #474747;
  cursor: pointer;
}
.popup_window-2-mini {
  margin-left: -113px;
  position: fixed;
  top: 300px;
  left: 0;
  width: 110px;
  height: 110px;
  background-color: #FD8331;
  box-shadow: 2px 2px 10px #474747;
  cursor: pointer;
}
@media (max-width: 960px) {
  .block-webform > .content {
    margin: 10% auto;
    background-color: white;
    position: relative;
    box-shadow: 0 0 40px #1c1c1c;
    width: 320px;
    overflow: hidden;
  }
  .block-webform h2 {
    color: #2d4983;
    margin-bottom: 5px;
    line-height: 1.1;
    width: 75%;
    margin-left: 30px;
    padding-top: 15px;
    font-size: 23px;
  }
  .block-webform .field-name-body .popup_text {
    line-height: 1.4;
    margin-bottom: 10px;
    display: block;
    margin-left: 30px;
    color: #000;
    width: 80%;
  }
  .block-webform .form-submit, .block-webform #custom-submit {
    border: 1px solid;
    min-width: 205px;
    color: white;
    background-color: #ff8431;
    border-radius: 10px;
    padding: 13px 17px;
    font-size: 20px;
    text-shadow: 0 1px 1px #828282;
    text-align: center;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    white-space: normal;
    width: 60%;
    display: block;
    margin: 0 auto;
  }
  .block-webform input.form-text {
    margin-bottom: 15px;
    width: 80%;
    height: 30px;
    font-size: 19px;
    text-indent: 10px;
    border: 1px solid #aeadae;
    margin-left: 30px;
  }
  .block-webform textarea#edit-submitted-message {
    margin-bottom: 28px;
    margin-left: 30px;
    width: 82%;
    height: 100px;
    font-size: 19px;
    text-indent: 7px;
    border: 1px solid #aeadae;
    padding-top: 10px;
    resize: none;
    overflow: auto;
  }
  .block-webform .content img {
    display: none !important;
  }
}
